:root {font-family: 'Asap Condensed', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Qwitcher Grypen', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Tilt Prism', cursive;
    font-size: 62.5%;
    /* --body-backgroung-color: #252B48; */
    --body-background-color: linear-gradient(to left, #252B48 13%, #445069 50%, rgb(66, 142, 117) 75%);
    --nav-background-color: rgba(240, 248, 255, 0.387);
    --nav-ul-li-background-color: rgba(18, 18, 179, 0.382);

    --my-card-background-color: rgb(72, 57, 115);
    --my-card-text-color:white;
    --my-card-box-shadow-color: rgb(180, 219, 196);
    --my-card-border-color:rgba(60, 55, 155, 0.203);

    --heading-text-color: black; 
    --text-boxes-background-color: rgba(240, 248, 255, 0.097 );
    --text-boxes-heading-border: rgba(3, 3, 23, 0.569);
    --text-boxes-article-border:rgb(26, 9, 37);
    --text-boxes-sub-container-border-color:#5B9A8B;
    --project-images-border-color:#28564b9c;

    --label-text-color:rgb(3, 19, 14);
    --form-btn-color:#4450697f;

    --footer-text-color:rgb(50, 126, 101);
    --footer-background-color:#445069;


    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--body-background-color);
}


header {
    position: fixed;
    top: 0;
    width: 100vw;
   
}

nav {background-color: var(--nav-background-color); 
    width: 100vw;
    border-bottom: 0.9rem groove;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header h1 {font-size: 3rem;
    font-family: 'Tilt Prism', cursive;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly
    ;
   
}

nav ul li {
    margin: 1rem;
    font-size: 1.4rem;
    background-color:var(--nav-ul-li-background-color);
    transition: ease 1s;
    box-shadow: 0 0 4rem 0 rgb(43, 43, 138);
    transition: 1s ease;
    border-radius: 15%;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: 1s ease;

}

nav ul li:hover  {
    transform: scale(150%);
}

.my-card {
    width: 15rem;
    position: fixed;
    right: 0;
    top: 5rem;
  border-radius: 10%;
  border: var(--my-card-border-color) groove;
    background-color: var(--my-card-background-color);
    color: var(--my-card-text-color);
   box-shadow: inset 2rem 2rem 5rem 0 var(--my-card-box-shadow-color);
   text-align: center;
    
}

.my-card img {border-radius: 10%;}

main { margin: 15rem 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.t-box-container{
    margin-bottom: 5rem;
}

.t-box-container h3 {font-family: 'Black Ops One', cursive;

        font-size: large;
        border: solid var(--text-boxes-heading-border);
        border-radius: 45% 45% 0 0;
        background-color:var(--text-boxes-background-color);
        box-shadow: 0rem 0rem 1rem 0.5rem rgb(3, 8, 3);}

.t-box {
    border: var(--text-boxes-article-border) solid;
    text-align: center;
    background-color:var(--text-boxes-background-color);
    border-radius: 0 0 35% 35%;
    box-shadow: 0rem 0rem 1rem 0.5rem rgb(3, 8, 3);
    
}

.t-box p {
    margin: 5rem;
}


.t-box-sub-container {
    border:var(--text-boxes-sub-container-border-color) solid;
    border-radius: 25%;
    height: 5em;
    width: 90%;
   display: flex;
    margin: 0 auto 1rem;


}
.t-box-sub-container div {
    width: 10rem;
    height: 4.5rem;

}

.t-box-sub-container p {
    border: var(--nav-background-color) groove;
    width: 65rem;
    height: 3rem;
    margin: auto;
}

.text-1 {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.text-2 , .text-3 {
    height: 30rem;
}

 .text-3 .t-box-sub-container img {
    border:var(--project-images-border-color) groove;
    border-radius: 50%; 
   
 
} 
 .text-3 .t-box-sub-container div:hover {transition: transform 2s ease-in-out  ;
   transform: scale(340%);
  
 }
 
     
  



 form {border: var(--project-images-border-color) groove 1rem;
    display: flex;
    flex-direction: column;
    box-shadow:  inset 0em 0rem 1rem 0.3rem  var(--footer-text-color);}

label {
    font-size: 2rem;
    color:var(--label-text-color);
}
form button {
    background-color:var(--form-btn-color);
}


.text-4 {
    
    border-radius: 15% 40%;
    width: 80%;
    margin: 6rem auto auto;
}




footer { 
    font-size: 1.5rem;
    text-align: center;
    position:fixed;
    bottom: 0;
    height: 5%;
    border:var(--nav-background-color) solid;
    background-color: var(--my-card-border-color);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-top: 0.3rem groove;
     color: var(--footer-text-color);
    background-color: var(--footer-background-color);
}

footer a, footer i {
   color: var(--footer-text-color);
    text-decoration: none;
   
}

footer div {margin: 0 2rem;
            width: 33%;}

footer i {font-size: 2rem;}


/* .t-box-container, fieldset {
    scroll-margin-top:150px ;
} */