:root {font-size: 62.5%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

* {margin: 0;
padding: 0;
box-sizing: border-box;}


body {background-color: rgb(48, 44, 44);
    width: 100%;
    width: 100%;
    
}

.container {padding: 5rem;
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

header { 
    width: 100%;
    background-color: rgb(41, 41, 41);
    color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}



.zoom-videos {
    height: 100rem;
    width: 100%;
    display: grid;
    gap: 1.5rem;
    grid-template-areas: ". col1 col2 col3 ."
                         ". col4 col5 col6 ."
                         ". col7 col8 col9 .";
 margin: 10rem auto;
    
}
.zoom-participant {
    font-size: 3rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 4rem ;
  
 }
 main div p  {
    margin: 0 0.5rem 0.5rem;
color:white;
background-color:rgba(128, 128, 128, 0.609);
 }

main div i {
    color: rgb(147, 220, 39);
}
.zoom-participant:nth-of-type(1){
    grid-area: col1;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: url(/assets/student-1.jpeg);
    background-position: center;

}
.zoom-participant:nth-of-type(2){
    grid-area: col2;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: url(/assets/student-2.jpeg);
    background-position: center;

}
.zoom-participant:nth-of-type(3){
    grid-area: col3;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: url(/assets/student-3.jpeg);
    background-position: center;

}
.zoom-participant:nth-of-type(4){
    grid-area: col4;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: url(/assets/student-4.jpeg);
    background-position: center;

}
.zoom-participant:nth-of-type(5){
    grid-area: col5;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: url(/assets/student-5.jpeg);
    background-position: center;

}
.zoom-participant:nth-of-type(6){
    grid-area: col6;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: url(/assets/student-6.jpeg);
    background-position: center;

}
.zoom-participant:nth-of-type(7){
    grid-area: col7;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: url(/assets/student-7.jpeg);
    background-position: center;

}
.zoom-participant:nth-of-type(8){
    grid-area: col8;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: url(/assets/student-8.jpeg);
    background-position: center;
}
.zoom-participant:nth-of-type(9){
    grid-area: col9;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: url(/assets/student-9.jpeg);
    background-position: center;
}




footer {
    background-color: rgb(41, 41, 41);
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
  height: 10rem;
  font-size: 2.6rem;
    color: aliceblue;
display: flex;
justify-content: space-evenly;
align-items: center;}

footer div {display: flex;
align-items: center;
flex-direction: column;
}

i {margin-bottom: 1rem;
font-size: 3.2rem;}


button {height: 5rem;
        width: 9em;
        color: aliceblue;
    background-color: firebrick;
border: none;
border-radius: 1rem;}



@media (max-width: 600px) {
   .zoom-videos{ display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
footer {
    font-size: small;
}}

